.video-control-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video-control-state {
  text-transform: uppercase;
  font-size: 24px;
}

.video-control-select {
  font-size: 24px;
}

.video-control-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.video-control-button {
  font-size: 24px;
  border-radius: 4px;
}
