.runners-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'DaggerSquareOblique';
  letter-spacing: 2px;
  color: var(--wasd-white);

  margin-top: 3px;
  padding: 5px 0;

  border-bottom: 2px solid var(--wasd-white-muted);
}

.runner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  margin-bottom: 3px;
}

.runner-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 37px;
}

.runner-row.name {
  position: relative;
}

.runner-row.twitch {
  position: absolute;
}

.runner-icon {
  height: 28px; width: 28px;
  background-position: center;
  background-repeat: no-repeat;
}

.runner-icon.runner {
  background-image: url('../assets/running-solid.svg');
}

.runner-icon.twitch {
  background-image: url('../assets/twitch-brands.svg');
}

.runner-label {
  text-align: center;
  font-size: 28px;
  margin-bottom: 2px; /* required to center it despite the flexbox */
}

.runner-pronouns {
  font-size: 14px;
  text-align: center;
}
