.runners-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 0px 0px 10px 10px;
  border-bottom: 5px solid var(--wasd-white);

  font-family: 'MontserratBold';
  color: var(--wasd-white);
  font-size: 30px;

  padding-top: 7px;
  padding-bottom: 3px;
  gap: 3px;
}

.runner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.runner-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  position: relative;
}

.runner-row > span {
  flex-grow: 1;
  text-align: center;
}

.runner-row.twitch {
  position: absolute;
}

.runner-icon {
  width: 35px; height: 37px;
  margin: 5px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.runner-icon.runner {
  background-image: url('../assets/running-solid.svg');
}

.runner-icon.twitch {
  background-image: url('../assets/twitch-brands.svg');
}
