.break-container {
  width: 100%;
  height: 100%;

  position: relative;

  padding: 160px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left {
  height: 100%;
  width: 480px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.countdown-container {
  font-family: 'DaggerSquareOblique';
  letter-spacing: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-label {
  font-size: 30px;
  color: var(--wasd-white-muted);
}

.countdown-time {
  font-size: 64px;
  color: var(--wasd-white);
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.logo.wasd {
  background-image: url('../assets/wasd-keys.svg');
  height: 210px;
}

.logo.special-effect {
  background-image: url('../assets/specialeffect-white.png');
  height: 160px;
}

.h-space {
  width: 90%;
  height: 3px;
  border-radius: 3px;
  background: var(--wasd-pink);
  margin: 20px 0;
}

.v-space {
  height: 100%;
  width: 3px;
  border-radius: 3px;
  background: var(--wasd-pink);
  margin: 0 20px;
}

.right {
  height: 100%;
  flex-grow: 1;
  position: relative;

  display: flex;
  flex-direction: row;
}

.right-schedule {
  height: 100%;
  min-width: 650px;
}

.right-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.total-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'DaggerSquareOblique';
}

.total-label {
  font-size: 30px;
  color: var(--wasd-white-muted);
}

.total-amount {
  font-size: 64px;
  color: var(--wasd-white);
}

.incentives-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
  width: 100%;

  font-family: 'DaggerSquareOblique';
  color: var(--wasd-white);

  overflow: hidden;
}

.incentives-label {
  font-size: 30px;
  color: var(--wasd-white-muted);
}

.incentives-list {
  padding-top: 15px;
  overflow: hidden;

  flex-grow: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  /*
  background-image: linear-gradient(to bottom, black 90%, transparent);
  */
  mask-image: linear-gradient(to bottom, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent);
}

.incentive-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 25px;
}

.incentive-game {
  font-size: 26px;
}

.incentive-name {
  font-size: 30px;
  margin-bottom: 3px;
}

.incentive-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: solid 2px var(--wasd-pink);
  border-radius: 10px;
  width: 100%;

  position: relative;
  overflow: hidden;
  padding: 5px 0;
}

.incentive-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--wasd-purple);
  width: 0%;
}

.incentive-amount {
  position: relative;
  font-size: 26px;
}
