.current-song-container {
  position: absolute;
  bottom: 30px; left: 30px;

  width: 420px;
  height: 120px;
  background-color: var(--wasd-white);
  border-radius: 7px;
  box-shadow: 0 0 10px var(--wasd-black);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px 0 10px 10px;
}

.current-song-art-container {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 7px;
  overflow: hidden;
}

.current-song-art {
  width: 100%;
  height: 100%;
}

.current-song-details {
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  flex-grow: 1;
  height: 100%;

  font-family: 'DaggerSquareOblique';

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;

  padding: 0 10px;
}

.current-song-details-clip {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px;
}

.current-song-details-clip.left {
  left: 0;
  background-image: linear-gradient(270deg, transparent, var(--wasd-white) 50%);
}

.current-song-details-clip.right {
  right: 0;
  background-image: linear-gradient(90deg, transparent, var(--wasd-white) 50%);
}

.current-song-name {
  color: var(--wasd-black);
  font-size: 26px;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.current-song-artist {
  color: var(--wasd-black-muted);
  font-size: 20px;
}
