.graphic.sixteen-nine {
  background-image: linear-gradient(200deg, var(--wasd-magenta) 40%, var(--wasd-indigo));
}

.game {
  position: absolute;
  top: 0px; right: 0px;
  background-color: var(--chroma-green);

  width: 1600px;
  height: 900px;

  border-radius: 0px 0px 0px 10px;
  border: 5px solid var(--wasd-white);
  border-top: none;
  border-right: none;
}

.left {
  position: absolute;
  top: 0px; left: 0px;
  height: 1080px;
  width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cam {
  width: 100%;
  min-height: 330px;
  background-color: var(--chroma-green);
  border-radius: 0px 0px 10px 10px;
  border-bottom: 5px solid var(--wasd-white);
}

.left-info {
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.wasd-logo {
  background-image: url('../assets/wasd-avatar.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 180px;
}

.special-effect-logo {
  background-image: url('../assets/specialeffect-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 100px;
}

.total {
  color: var(--wasd-white);
  font-family: 'DaggerSquareOblique';
  font-size: 50px;
}

.x {
  color: var(--wasd-white);
  font-family: 'MontserratBold';
  font-size: 20px;

  margin-top: -100px;
  margin-bottom: -80px;
}


/* -------------- BOTTOM --------------- */
.bottom {
  font-family: 'DaggerSquareOblique';
  color: var(--wasd-white);

  position: absolute;
  bottom: 0px; right: 0px;
  width: 1600px; height: 180px;

  display: flex;
  flex-direction: row;
}

.bottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px;
  border-radius: 10px;
  border: 5px solid var(--wasd-white);
}

.run-details {
  flex-grow: 1; /* grow to available size in parent */
}

.run-game {
  font-size: 62px;
}

.run-details-row {
  font-size: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.run-details-row div {
  margin: 0 10px;
}

.run-timing {
  width: 500px;
}

.estimate {
  font-size: 30px;
}
