.game {
  position: absolute;
  top: 0px; right: 0px;

  width: 1346px;
  height: 100%;

  border-left: 5px solid var(--wasd-pink);

  background-color: var(--chroma-green);
}

.left {
  position: absolute;
  top: 0px; left: 0px;
  height: 100%;
  width: 574px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cam {
  width: 100%;
  min-height: 330px;
  border-bottom: 5px solid var(--wasd-pink);
  border-top: 5px solid var(--wasd-pink);
}

.run-info {
  width: 100%;
  height: 125px;

  font-family: 'DaggerSquareOblique';
  color: var(--wasd-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 0;
}

.run-game {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 5px;
}

.run-details {
  padding: 0 10px;
  text-align: center;
}

.run-spacer {
  width: 70%;
  height: 2px;
  background-color: var(--wasd-white-muted);
}

.run-timing {
  width: 100%;
  height: 120px;

  font-family: 'DaggerSquareOblique';
  color: var(--wasd-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 0;
}

.run-estimate {
  font-size: 18px;
}

.logos {
  width: 100%;
  flex-grow: 1;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.logo.wasd {
  height: 80%;
  background-image: url('../assets/wasd-keys.svg');
}

.logo.special-effect {
  height: 100%;
  background-image: url('../assets/specialeffect-white.png');
}

/* --- BEGIN OVERRIDES --- */
.timer-text {
  font-size: 64px !important;
}

.runners-container {
  width: 70% !important;
}

.couch-container {
  width: 70% !important;
}
/* ---- END OVERRIDE ---- */

