@font-face {
  font-family: 'MontserratBold';
  src: url('./assets/montserrat-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('./assets/ubuntumono-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DaggerSquareOblique';
  src: url('./assets/daggersquare-oblique.otf') format('opentype');
}

:root {
  --wasd-blue: #3C99FF;
  --wasd-teal: #83FFCE;
  --wasd-white: #F2E1F3;
  --wasd-indigo: #3300A4;
  --wasd-purple: rgb(146, 116, 255);
  --wasd-violet: #8338EC;
  --wasd-magenta: #FF006E;
  --wasd-light-blue: #57EDFF;

  --chroma-green: #00FF00;
}

* {
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  margin: 0;
  padding: 0;
  border: 0;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.graphic {
  width: 1920px;
  height: 1080px;

  overflow: hidden;
  position: relative;
}
