@font-face {
  font-family: 'DaggerSquareOblique';
  src: url('./assets/daggersquare-oblique.otf') format('opentype');
}

:root {
  --wasd-blue: #3C99FF;
  --wasd-teal: #83FFCE;
  --wasd-white: #FFFFFF;
  --wasd-white-muted: #E4C1EC;
  --wasd-black: #000000;
  --wasd-black-muted: #4A4A4A;
  --wasd-indigo: #3300A4;
  --wasd-purple: rgb(146, 116, 255);
  --wasd-violet: #8338EC;
  --wasd-magenta: #FF006E;
  --wasd-pink: #FF71E6;
  --wasd-light-blue: #57EDFF;

  --chroma-green: #00FF00;
}

* {
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  margin: 0;
  padding: 0;
  border: 0;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.graphic {
  overflow: hidden;
  position: relative;

  background-image: linear-gradient(7deg, var(--wasd-magenta) -10%, var(--wasd-violet) 50%);
}

.graphic.overlay {
  width: 1920px;
  height: 1010px;
}

.graphic.fullscreen {
  width: 1920px;
  height: 1080px;
}
