.couch-container {
  font-family: 'DaggerSquareOblique';
  letter-spacing: 2px;
  color: var(--wasd-white);
  width: 90%;
  padding: 12px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 2px solid var(--wasd-white-muted);
}

.couch-label {
  color: var(--wasd-white-muted);
  font-size: 20px;
  margin-bottom: 5px;
}

.couch-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.couch-mic {
  height: 28px; width: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/microphone-alt-solid.svg');
}

.couch-person {
  font-size: 28px;
}

.couch-pronouns {
  letter-spacing: 0px;
  font-size: 14px;
  min-width: 30px;
}
