.timer-container {
  position: relative;
}

.timer-flash {
  position: absolute;
  width: 100%; height: 100%;
  border-radius: 10px;
  background-color: var(--wasd-blue);
  border: solid 1px var(--wasd-white);
  opacity: 0;
}

.timer-text {
  position: relative;
  font-size: 80px;
  padding: 0 30px;
  line-height: 80px;
}
