.bar {
  overflow: hidden;
  position: relative;

  width: 1920px;
  height: 70px;

  background-color: var(--wasd-pink);
  color: var(--wasd-white);

  font-family: 'DaggerSquareOblique';
  font-size: 36px;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 20px;
}

.v-space {
  width: 2px;
  height: 70%;
  border-radius: 2px;
  background-color: var(--wasd-white-muted);
  margin: 0 15px;
}

.mid {
  flex-grow: 1;
}
